.el-main-left {
    .panel-default {
        .panel-heading {
            a {
                font-size: 14px !important;
                &:hover {
                    color: pink !important;
                    text-decoration: none;
                }
            }
        }
        .panel-body{
            li{
                padding-left: 30px;
                line-height: 35px;
            }
        }
    }
}

.panel-default>.panel-heading {
    color: #337ab7 !important;
    background-color: gold !important;
    border-color: #ccc !important;
}
.panel-group .panel+.panel{
    margin-top: 0;
}
.panel{
    border-top:none;
}

// 个人中心 信息
.el-main-center {
    div#incomeChart {
        width: 800px;
        height: 500px;
    }
    .tab-pane>div {
        border-top: 0px;
        border-radius: 0 0 7px 7px;
    }
    /*账户资料*/
    .el-accountInfo {
        padding-bottom: 15px;
        border-bottom: 1px solid #96969a; // 头像
        .el-accountInfo-photo {
            border: 1px solid #000;
            padding: 10px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .el-accountInfo-text {
            margin-top: 10px;
            margin-left: 15px;
        }
    }
    /*账户金额*/
    .el-accountMoney {
        padding: 15px 0;
        font-size: 18px;
    }
    /* 账户按钮*/
    .el-accountBtn {
        margin: 15px 0;
    }
    /*认证信息*/
    .el-authInfo {
        margin-top: 20px;
        row {
            height: 120px;
        }
        div {
            margin-top: 15px;
        }
    }
}

// 实名认证
.realAuth {
    .idCardItem {
        width: 160px;
        height: 150px;
        float: left;
        margin-right: 10px;
        border: 1px solid #e3e3e3;
        text-align: center;
        padding: 5px;
    }
    #viewExample {
        position: relative;
        left: 20px;
        top: 60px;
    }
}

